version: '3.8'

services:
  user-service:
    build:
      context: ./user-service  # path to user service directory
      dockerfile: Dockerfile
    ports:
      - "5000:5000"  # host:container port mapping
    environment:
      - NODE_ENV=development
    networks:
      - microservices-net

  delivery-service:
    build:
      context: ./delivery-service  # path to delivery service directory
      dockerfile: Dockerfile
    ports:
      - "5003:5003"
      
  restaurant-service:
    build:
      context: ./restaurant-service  # path to restaurant service directory
      dockerfile: Dockerfile
    ports:
      - "5001:5001"

    environment:
      - NODE_ENV=development
    depends_on:
      - user-service  # ensures user-service starts first
    networks:
      - microservices-net

networks:
  microservices-net:
    driver: bridge